.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.form .content,
.form .filePicker {
  width: 100%;
  margin-bottom: 10px;
}

.form .content span {
  display: block;
  margin-bottom: 5px;
}

.form .filePicker .title {
  display: block;
  margin-bottom: 5px;
}

.form .btnGroup {
  width: 100%;
  text-align: right;
}

.form .btnGroup button {
  margin-left: 10px;
}
