.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.inputGroup span {
  margin-bottom: 5px;
}

.btnGroup {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btnGroup button {
  margin: 0px 5px;
}
